@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: black !important;
}
.nav-link{
  color: white !important;
}
.navbar-brand{
  color: white;
}
.navbar-nav{
  margin-left: auto;
}
.small-img{
  height: 200px;
  width: 100% !important;
  border-radius: 5px;
}
.texts h1{
  font-size: 20px !important;
  text-align: left;
}
.btn{
  background-color: black;
  color: white;
  border-radius: 5px;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
}
.bigimg{
  height: 350px;
  width: 100%;
  border-radius: 5px;
  margin: auto;
}
input, select, .ant-picker {
  box-shadow: none;
  margin-top: 10px;
  width: 100% !important;
  height: 35px;
}

h2{
  font-size: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.dropdown-toggle{
  border: none;
}

.landing{
  background-color: black;
  height: 100vh;
}


.landingBtn{
  background-color: white;
  color: black;
  margin-top: 20px;
}

.css-1dc80h3-MuiTableCell-root{
  color: white !important;
  background-color: black;
}

.clickHere{
  color: black;
}

.visually-hidden{
  display: none;
}